
<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-security-provider"
    version="1.0.0">
    <name>SecurityProvider</name>
    <js-module src="www/SecurityProvider.js" name="SecurityProvider">
        <clobbers target="cordova.plugins.SecurityProvider" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SecurityProvider">
                <param name="android-package" value="org.apache.cordova.securityprovider.SecurityProvider" />
            </feature>
        </config-file>
        <source-file src="src/android/SecurityProvider.java" target-dir="src/org/apache/cordova/securityprovider" />
    </platform>
</plugin>
